<html>
  <head>
    <title><%= subject %></title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      padding: 20px;
    "
  >
    <div style="background-color: #f7f7f7; padding: 20px">
      <h1 style="color: #333333; margin-bottom: 30px"><%= subject %></h1>
      <p style="color: #333333"><%= body %></p>
      <p style="text-align: center">
        <a
          href="<%= url %>"
          style="
            background-color: #008cba;
            border: none;
            color: white;
            padding: 12px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
          "
          >Click Here</a
        >
      </p>
    </div>
  </body>
</html>
